<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345627540716-nt9cpuv1t2t8pt3v294orc50fond3pvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345627540716-nt9cpuv1t2t8pt3v294orc50fond3pvc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDtDqDrU_g8_I_vTJAWgP6aKwdrS_I0KM</string>
	<key>GCM_SENDER_ID</key>
	<string>345627540716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>newsapp-c231f</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-c231f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345627540716:ios:e0abf22bb9adf9e2e039c9</string>
</dict>
</plist>